#{extends 'main.html' /}


<!--<span style="font-size: 300px;" > </span>-->
<script>





    $(function() {
        $('#popinContent').dialog({autoOpen: false,height: 495, show: "blind",hide: "blind", width: 977,modal:true,title:"Article(s) en relation avec ce tag" });
        $("#myTab a:first").click();



        try {
            TagCanvas.Start('myCanvas', 'tags', {
                outlineColour: '#333333',
                reverse: false,
                depth: 0.1,
                maxSpeed: 0.02,
                weight: true,
                textFont: null,
                textColour: null


            });
        } catch(e) {
            // something went wrong, hide the canvas container
            document.getElementById('myCanvasContainer').style.display = 'none';
        }


    });

</script>


<div class="container">
    <div class="page-header  Kaffeesatz">
        <h1>Gplus Statistiques</h1>

        <div class="lineH"></div>
    </div>


</div>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs Kaffeesatz" id="myTab">
        <li><a href="#tab0" ><h2>Home</h2></a></li>
        <li><a href="#tab1"><h2>D&eacute;tails</h2></a></li>
        <li><a href="#tab2"><h2>Articles</h2></a></li>
    </ul>

    <div class="tab-content Kaffeesatz">

            <div class="container tab-pane" id="tab0">
                <div class="row span12">
                    <div align="center" id="myCanvasContainer span6">
                        <canvas width="300" height="300" id="myCanvas">
                            <p> Anything in here will be replaced on browsers that support the canvas element </p>
                        </canvas>
                    </div>
                </div>
                <div class="row span12">
                    <div class="well">
                        Cette page a pour objectif de pr&eacute;senter, de mani&egrave;re synth&eacute;tique, les informations li&eacute;es &agrave; la page <a href="http://gplus.to/javafr" target="_blank"> google plus java FR (http://gplus.to/javafr)</a> </br>
                        Vous trouverez sur cette page la liste de tous les articles publi&eacute;s sur google+. Aussi, &agrave; l'aide du nuage de tags ci-dessus, la possibilit&eacute; d'acc&eacute;der aux articles par th&egrave;me.
                    </div>
                </div>
            </div>



            <div class="container tab-pane" id="tab1">
                <div class="row">
                    <div class="span6 r"><h1>Articles</h1></div>
                </div>
                <div class="row  show-grid">
                    <div class="span6 dice"><h1>${viewInformations.articles.size}</h1></div>
                </div>
                <div class="row">
                    <div class="span6 right"><h1>+1</h1></div>
                </div>
                <div class="row show-grid">
                    <div class="span6 dice"><h1>${viewInformations.compileSumPlusOnePage} </h1></div>
                </div>
                <div class="row">
                    <div class="span6 right"><h1>Partage</h1></div>
                </div>
                <div class="row show-grid">
                    <div class="span6 dice"><h1>${viewInformations.compileSumShared} </h1></div>

                </div>
                <div class="row">
                    <div class="span6 right"><h1>Meilleur article</h1></div>
                </div>

                <div class="row">

                    <div class="span12 dice"><h2> <span class=" text redactorbestArticle">
                        ${viewInformations.bestTitrePost}  </span></h2> by <h3>
                        <span class=" text redactorbestArticle">${viewInformations.bestNamePost}</span></h3>
                    </div>
                </div>
            </div>


            <div class="container tabArticles tab-pane" id="tab2">

                <table class="table">
                    <thead>
                    <tr>
                        <th><H2>Article</H2></th>
                        <th><H2>Auteur</H2></th>
                        <th><H2>+1</H2></th>
                        <th><H2>Partage</H2></th>
                    </tr>
                    </thead>
                    <tbody>
                    #{list items:viewInformations.articles, as:'task'}
                    <tr>
                        <td style=" vertical-align: middle;"><a href="${task.url}" target="_blank"><h4>${task.title}</h4></a></td>
                        <td style="text-align: center; vertical-align: middle;"><h4>${task.author}</h4></td>
                        <td style="text-align: center; vertical-align: middle;"><H2>${task.plusOne}</H2></td>
                        <td style="text-align: center; vertical-align: middle;"><H2>${task.shared}</H2></td>
                    </tr>
                    #{/list}
                    </tbody>
                </table>

            </div>



    </div>
    <div id="tags">
                    <ul>
                        #{list items:viewInformations.tags, as:'task'}
                        <li><a href="#" class="${task.cssClass} popin" id="${task.lblTag}"> ${task.lblTag} </a></li>
                        #{/list}


                    </ul>
                </div>

    <script>

        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })

        $('.popin').click(function(e) {

            var url = "/articlesByTag/" + $(this).attr('id');

            $('#popinContent').load(url, function() {


                $('#popinContent').dialog('open');

            });


        });

    </script>
</div>





<div style="display: none;" id="popinContent"></div>












