#{extends 'main.html' /}

                        <!--<span style="font-size: 300px;" > </span>-->





<div class="container">

    <div class="container sub-container right bottom"><span class="text"> ${aov.activityWrappers.size} </span> posts</div>
    <div class="container sub-container bottom"><span class="text">${aov.compileAveragePlusOnePage} </span>+1</div>
    <div class="container sub-container right"><span class="text">10</span></div>
    <div class="container sub-container"><span class="text">65</span></div>
</div>



